@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F8F6F0;
  --header-button-color: #FDCB58;
  --text-color: #1F3A5F;
  --link-highlight-color: #7AC7F2;
  --card-footer-color: #8C6849;

  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
